.vscode/**
.vscode-test/**
.github/**
src/**
test/**
out/**
docs/**
scripts/**
node_modules/**
media/icon.svg
media/readme/**
.editorconfig
.gitignore
.prettierignore
.prettierrc.json
.vscode-test.mjs
esbuild.mjs
eslint.config.mjs
tsconfig.json
CONTRIBUTING.md
package-lock.json
**/*.map
**/.DS_Store
.mocharc.json
SECURITY.md
